
# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*



# added
/client/node_modules
/client/search.html
/client/src/components/DeleteBtn
/client/src/components/Form
/client/src/components/Grid
/client/src/components/Jumbotron
/client/src/components/List
/client/src/components/Nav
.env

